"""codigo 1 29 de febrero"""
import random

def carta_de_la_casa():
    cartas = [2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 11]  
    return random.choice(cartas)

def blackjack():
    carta_jugador = [carta_de_la_casa(), carta_de_la_casa()]
    dealer_hand = [carta_de_la_casa(), carta_de_la_casa()]

    print(f"Tus Cartas: {carta_jugador}, Puntaje actual: {sum(carta_jugador)}")
    print(f"Primera carta del dealer: {dealer_hand[0]}")

    if input("Pon 'y' para obtener otra carta, escribe 'n' para pasar: ") == 'y':
        carta_jugador.append(carta_de_la_casa())

    print(f"Tu ultimo hand: {carta_jugador}, Puntaje final: {sum(carta_jugador)}")
    print(f"Ultimo hand del dealer: {dealer_hand}, Puntaje final: {sum(dealer_hand)}")

    if sum(carta_jugador) > 21:
        return "Te pasaste. Perdiste :("
    elif sum(dealer_hand) > 21:
        return "El dealer se paso. Ganaste :)"
    elif sum(carta_jugador) == sum(dealer_hand):
        return "Es un.... \nEmpate!"
    elif sum(carta_jugador) > sum(dealer_hand):
        return "Ganaste :)"
    else:
        return "Perdiste :("

print(blackjack())
